:root {
  --doain-transition-duration: 0.5s;
}


/* Sliding */
.doain-slide-left-enter-active,
.doain-slide-left-leave-active,
.doain-slide-right-enter-active,
.doain-slide-right-leave-active,
.doain-slide-up-enter-active,
.doain-slide-up-leave-active,
.doain-slide-down-enter-active,
.doain-slide-down-leave-active {
  transition: all var(--doain-transition-duration) ease;
}

.doain-slide-left-enter-from,
.doain-slide-right-leave-to {
  transform: translateX(100%);
}

.doain-slide-left-leave-to,
.doain-slide-right-enter-from {
  transform: translateX(-100%);
}

.doain-slide-up-enter-from,
.doain-slide-down-leave-to {
  transform: translateY(100%);
}

.doain-slide-up-leave-to,
.doain-slide-down-enter-from {
  transform: translateY(-100%);
}

/* Fading */
.doain-fade-enter-active,
.doain-fade-leave-active {
  transition: opacity var(--doain-transition-duration) ease;
}

.doain-fade-enter-from,
.doain-fade-leave-to {
  opacity: 0;
}

.doain-fade-out-leave-active {
  transition: opacity calc(var(--doain-transition-duration) * 0.6) ease-out;
}

.doain-fade-out-enter-active {
  transition: opacity calc(var(--doain-transition-duration) * 0.8) ease-in;
  transition-delay: calc(var(--doain-transition-duration) * 0.6);
}

.doain-fade-out-enter-from,
.doain-fade-out-leave-to {
  opacity: 0;
}
