.pagination-view {
  --pv-form-container-padding: 20px 16px;
  --pv-form-container-padding: 0 0 20px 0;

  --pv-table-container-padding: 20px 16px;
  --pv-table-container-margin: 0 0 0 0;

  --bg: #fff;

  &-root {
    position: relative;
  }

  &__form-container {
    width: 100%;
    box-sizing: border-box;
    margin: var(--pv-form-container-margin);
    padding: var(--pv-form-container-padding);
    background-color: var(--bg);
  }
  &__table-container {
    width: 100%;
    box-sizing: border-box;
    margin: var(--pv-table-container-margin);
    padding: var(--pv-table-container-padding);
    background-color: var(--bg);
  }
}
